<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>
            Splashh | Home
        </title>
        <link rel="icon" href="/icons/palTitle.png" type="image/x-icon">
        <link rel="stylesheet" href="/styles/styleHome.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/0d1c5538eb.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="root">
            <!-- js generated code goes here -->
        </div>

        <div id="navbar">
          <% if(!user) { %>
            <button class="signInOut" onclick="window.location.href = 'login';">Sign In</button>
            <button class="signInOut" onclick="window.location.href = 'signup';">Sign Up</button>
          <% } else { %>
            <button class="signInOut" onclick="window.location.href = 'signout';">Sign Out</button>
          <% } %>
        </div>
        
        <div id="content">
          <div id="container">
            <i class="fas fa-palette paletteIcon"></i>
            <div id="introPara">
              <h2>Palette Generator</h2> 
              Online Random Palette Generator
              <br>
              <button id="paletteButton" onclick="window.location.href = 'my-page';">View Palettes</button>
            </div>
          </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
          <defs>
            <!-- filter for the gooey merging of divs -->
            <filter id="goo">
              <feGaussianBlur in="SourceGraphic" stdDeviation="4" result="blur" />
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 20 -5" result="goo" />
              <feBlend in="SourceGraphic" in2="goo" />
            </filter>
          </defs>
        </svg>
    </body>
    <script src="/scripts/scriptDrip.js"></script>
</html>